<form action="/payment/results">
  <label for="lion">APR
  <input id="lion" type="text" placeholder="E.g. 5,42" name="apr">
  <br>
  <label for="lion">Number of years
  <input id="lion" type="text" placeholder="How manny years are you going to repay?" name="years">
  <br>
  <label for="lion">Principal
  <input id="lion" type="text" placeholder="How much principal?" name="princial">
  <br>
  <button>Calculate monthly payment
</form>
