<form action="/square_root/results">
  <label for="hippo">Enter a number
  <input id="hippo" type="text" placeholder="What number do you want to find the square root of?" name="squareroot">
  <br>
  <button>Calculate square root
</form>
